<header>
    <div class="container_12">
        <div class="grid_7">
            <lacc-social-networtk></lacc-social-networtk>
        </div>
        <div class="grid_5">
            <lacc-user-detail></lacc-user-detail>
        </div>

        <div class="grid_12">

            <lacc-store-title></lacc-store-title>

            <div class="menu_block">
                <nav id="bt-menu" class="bt-menu" [class.bt-menu-open]="showMenu">
                    <a href="javascript:void(0)" (click)="openMenu()" class="bt-menu-trigger"><span>Menu</span></a>
                    <ul>
                        <li routerLinkActive="current" class="bt-icon"><a [routerLink]="['restaurants']">Food</a></li>
                        <li routerLinkActive="current" class="bt-icon"><a [routerLink]="['blog']">Blog</a></li>
                        <li routerLinkActive="current" class="bt-icon"><a [routerLink]="['about']">About</a></li>
                        <li routerLinkActive="current" class="bt-icon"><a [routerLink]="['reservation']">Reservation</a>
                        </li>
                        <li routerLinkActive="current" class="bt-icon"><a [routerLink]="['contact']">Contacts</a></li>
                    </ul>
                </nav>

                <div class="clear"></div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</header>
