<div class="content contact">
    <div class="container_12">
        <div class="grid_12">
            <h3 class="head2"><i class="fa fa-shopping-cart"></i> Finish your order</h3>
        </div>


        <div class="clear"></div>

        <form>
            <div class="col-1">
                <label>
                    Name
                    <input placeholder="Enter the name that you received the product" tabindex="1"/>
                </label>
            </div>

            <div class="col-2">
                <label>
                    Address
                    <input placeholder="What is the shipping address?" tabindex="2"/>
                </label>
            </div>
            <div class="col-5">
                <label>
                    Numero
                    <input placeholder="Address number" tabindex="2"/>
                </label>
            </div>

            <div class="col-5">
                <label>
                    Complmento
                    <input placeholder="Is there an add-on to the address?" tabindex="2"/>
                </label>
            </div>

            <div class="col-1">
                <h3>Items do pedido</h3>
                <table class="table-order tab-content table">
                    <thead>
                    <th>Amount</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Subtotal</th>
                    <th></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="">-</a>
                            2
                            <a href="">+</a>
                        </td>
                        <td>Causa rellena</td>
                        <td>The best dish in town</td>
                        <td> R$ 50</td>
                        <td>
                            <a class="btn btn-sm danger"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-2">
                <label>Payment methods</label>
                <p>
                    <input type="radio" id="test1" name="radio-group" checked>
                    <label for="test1">Money</label>
                </p>
                <p>
                    <input type="radio" id="test2" name="radio-group">
                    <label for="test2">Credit cart</label>
                </p>
                <p>
                    <input type="radio" id="test3" name="radio-group">
                    <label for="test3">Debit card</label>
                </p>

            </div>

            <div class="col-2">
                <label>Freight and total</label>
                <table class="table-delivery-costs tab-content table">
                    <tr>
                        <th class="col-left">Items</th>
                        <td class="col-right">2</td>
                    </tr>
                    <tr>
                        <th class="col-left">Freight</th>
                        <td class="col-right">R$ 25</td>
                    </tr>
                    <tr>
                        <th class="col-left">Total</th>
                        <td class="col-right">R$ 125</td>
                    </tr>
                </table>
            </div>
            <div class="col-submit col-1">
                <button type="submit">Checkout</button>
            </div>
        </form>

    </div>
</div>