<div class="content contact">
    <div class="container_12">
        <div class="grid_12">
            <h3 class="head2"><i class="fa fa-shopping-cart"></i> Finish your order</h3>
        </div>


        <div class="clear"></div>

        <!--{{ orderForm.valid }}-->

        <!--{{ orderForm.value | json}}-->

        <form [formGroup]="orderForm" novalidate>


            <div class="col-1">
                <lacc-input-container errorMessage="Require field and at least 3 characters" label="Name">
                    <input formControlName="name" autocomplete="off"
                           placeholder="Enter the name that you received the product">
                </lacc-input-container>
            </div>


            <h3 class="head3">Delivery address</h3>

            <div class="clear"></div>

            <div class="col-2">
                <lacc-input-container errorMessage="Require field and at least 5 characters" label="Address">
                    <input formControlName="address" autocomplete="off"
                           placeholder="What is the shipping address?">
                </lacc-input-container>
            </div>

            <div class="col-5">
                <lacc-input-container errorMessage="Require and numeric only" label="Number">
                    <input formControlName="number" autocomplete="off"
                           placeholder="Address number">
                </lacc-input-container>
            </div>

            <div class="col-5">
                <lacc-input-container label="Complement">
                    <input formControlName="optionalAddress" autocomplete="off"
                           placeholder="Complement?">
                </lacc-input-container>
            </div>

            <div class="col-2">
                <lacc-input-container errorMessage="Invalid email" label="Email">
                    <input formControlName="email" autocomplete="off"
                           placeholder="What is the shipping address?">
                </lacc-input-container>
            </div>
            <div class="col-2">
                <lacc-input-container errorMessage="Invalid confirmation email" label="Email confirmation">
                    <input formControlName="emailConfirmation" autocomplete="off"
                           placeholder="Invalid confirmation email">
                </lacc-input-container>

                <span class="pull-right has-error" *ngIf="orderForm.hasError('emailsNotMatch')">
                        <i class="fa fa-trash-o"> Emails do not match!</i>
                    </span>
            </div>

            <div class="col-1">
                <h3>Order items</h3>

                <lacc-order-items
                        [items]="cartItems()"
                        (increaseQtd)="increaseQtd($event)"
                        (decreaseQtd)="decreaseQtd($event)"
                        (remove)="remove($event)">
                </lacc-order-items>

            </div>

            <div class="col-2">
                <label>Payment methods</label>
                <lacc-radio [options]="paymentOptions" formControlName="paymentOptions"></lacc-radio>

            </div>

            <div class="col-2">
                <label>Freight and total</label>

                <lacc-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></lacc-delivery-costs>

            </div>
            <div class="col-submit col-1">
                <button [disabled]="!orderForm.valid || cartItems().length === 0"
                        [class.disabled]="!orderForm.valid"
                        (click)="checkOrder(orderForm.value)"
                        type="submit">Checkout
                </button>
            </div>
        </form>

    </div>
</div>