<div class="container_12">
    <div class="grid_6" *ngFor="let review of reviews">
        <div class="grid_3 box-reviews">
            <img [src]="review.imagePath" alt="">
        </div>
        <div class="grid_2 structure">
            <span class="review-score pull-right"><i class="fa fa-star"></i> {{ review.rating }}</span>
            <span class="username">{{ review.name }}</span>
            <span class="description">{{ review.date | date: 'dd/MM/yyyy'}}</span>

            <p>{{ review.comments }}</p>
        </div>
    </div>
</div>
