<div class="container_12">
    <div class="grid_12">
        <h3>Restaurant name</h3>
        <img src="assets/images/page5_img1.jpg" alt="" class="img_inner fleft">
        <div class="extra_wrapper">
            <p class="col1">Hoivamus at magna non nunc tristiquencus. Fliquam nibh ante, egestas id dictum modo
                luctus libero. Praesent faucibus malesuad faucibu. </p>
            <p>Dorem ipsum dolor sit amet, consecteturer adipiscing elit. Nullam consectetur orci se nulla facilisis
                consequat. Kurabitur vellore sit amet nulla ullamcorper ermentum. In vitae varius auguem.</p>
        </div>
        <p>Gamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum ammodo luctus libero.
            Praesent faucibus malesuada faucibus. Forem ipsum dolor sit ametconsectetur adipiscing elit. <span
                    class="cont_phone">For Parties call (023) 101-1100</span> . Nullam consectetur orci sed. </p>
    </div>

    <div class="clear"></div>

    <div class="box-footer detail-footer">
        <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['menu']">
            Menu
        </a>
        <a class="pull-left" routerLinkActive="detail-active" [routerLink]="['chefs']">
            Chefs
        </a>
        <a class="pull-right" routerLinkActive="detail-active" [routerLink]="['reviews']">
            Reviews
        </a>
    </div>
</div>


<router-outlet></router-outlet>
