.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.danger{
    color: #900;
}

.danger:hover{
    cursor: pointer;
}