/deep/ .has-feedback {
    position: relative;
}

/deep/ .has-success .help-block,
/deep/ .has-success .control-label,
/deep/ .has-success .radio,
/deep/ .has-success .checkbox,
/deep/ .has-success .radio-inline,
/deep/ .has-success .checkbox-inline,
/deep/ .has-success.radio label,
/deep/ .has-success.checkbox label,
/deep/ .has-success.radio-inline label,
/deep/ .has-success.checkbox-inline label {
    color: #3c763d;
}

/deep/ .has-error .help-block,
/deep/ .has-error .control-label,
/deep/ .has-error .radio,
/deep/ .has-error .checkbox,
/deep/ .has-error .radio-inline,
/deep/ .has-error .checkbox-inline,
/deep/ .has-error.radio label,
/deep/ .has-error.checkbox label,
/deep/ .has-error.radio-inline label,
/deep/ .has-error.checkbox-inline label {
    color: #a94442;
}

/deep/ .has-error {
    color: #a94442;
}

/deep/ .has-feedback .form-control {
    padding-right: 42.5px;
}

/deep/ label {
    display: block;
    padding: 20px 20px 10px;
    vertical-align: top;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #939393;
    cursor: pointer;
}

/deep/ input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: transparent;
    font-size: 14px;
    font-weight: 200;
    opacity: .66;
    transition: opacity .3s, box-shadow .3s;
}

/deep/ div > label > input:focus, form > div > label > select:focus {
    opacity: 1;
    box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
}